@model IEnumerable<ST10443307CLVDProjectPOEPart2.Models.Event>

@{
    ViewData["Title"] = "Event information";
}

<h1>Event list</h1>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type ="button" class=" btn-close" data-bs-dismiss = "alert" aria-label="Close"></button>
    </div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class=" btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

    </div>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descript)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VENUEID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descript)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VENUEID)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EVENTID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.EVENTID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.EVENTID">Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>
